<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ANON</title>
        <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div class="logo">
            <p style="font-size:32px; margin:auto;">&#913;&#919;&#920;&#919;</p>
        </div>
        <div class="navbar">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/">Threads</a></li>
            </ul>
        </div>


        <div class="main">
            <div class="section" name="info-header">
                <p>ANON is an anonymous one-off session based forum. Cookies are stored for 24 hours.</p>
            </div>
            
            <div class="section" name="categories">
            </div>
        </div>
    </body>

</html>